name: Read text file

on:
 workflow_dispatch:

jobs: 
  read-file:
   runs-on: ubuntu-latest

   steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: read text file
        run:
          cat tajvir.txt 
   
  